---
layout: page
title: Blog
permalink: /category/
---
<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
            <p>生きる限り日々努力してその度に学んで七転び八起き</p>
            <p>もしも僕が明日死んでも何かココに残せるよな</p>
            <p>そんな人間になりたいありたいって思いながら日々生きてる</p>
            <p>100点じゃないこの僕に100点つけるのは</p>
            <p>他でもない僕自身だ!! それ以外どうだっていいんだ!!</p>
            {{ page.url }}
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-1">
        <img class="ritsu-left anim_fade_image" src="../img/ritsu2.png" alt="img">
        <div class="catelog">
          <ul>
            {% for post in site.categories.blog %}
            {% if post.categories[0] == "blog" %}
              <li>{{ post.categories[1] }}</li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <!-- <img class="ritsu-left" src="../img/ritsu2.png" alt="img"> -->
      <div class="col-md-8 cate-repl">
          <!-- {% for post in site.posts %}
          {% if post.categories[0] == "blog" %}
          <div class="post-area">
            <a href="{{ post.url | prepend: site.baseurl }}">
              <h2>{{ post.title }}</h2>
              <p>
                  {{ post.excerpt | strip_html | truncatewords: 50 }}
              </p>
            </a>
            <p class="post-info">posted by {{post.author}} on {{ post.date | date_to_long_string }}</p>
          </div>
          {% endif %}
          {% endfor %} -->
      </div>
      <div class="col-md-3 visible-md visible-lg">
        <img class="ritsu-right" src="../img/kawai.png" alt="img">
        <!-- <ul>
            {% for post in site.categories.blog %}
            {% if post.categories[0] == "blog" %}
              <li>{{ post.categories[1] }}</li>
            {% endif %}
            {% endfor %}
        </ul> -->
        <div class="dialog-usa">
          <p>学姐，你想看什么？</p>
        </div>
        <div class="dialog-ritsu">
          <p>怪物猎人还真是有趣呢！</p>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(".ritsu-left").on("click", function() {
      $(this).addClass("anim_fade_image_hover");
      // $(this).hide();
      $(".catelog").show();
    })

    $(document).ready(function () {
      function GetQueryString(name)
      {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
      }
      var category = GetQueryString("cate")
      var dataStr = `{ {% for cat in site.categories %}{% if cat[0] != site.categories.first[0] %},{% endif %}"{{ cat[0] }}":[{% for post in cat[1] %}{% if post != cat[1].first %},{% endif %}{"url":"{{post.url}}", "title":"{{post.title}}","author": "{{post.author}}" ,"excerpt": "{{ post.excerpt | strip_html | truncatewords: 50 }}" ,"date":"{{post.date | date:"%d/%m/%Y"}}"}{% endfor %}]{% endfor %} }`;
      var dataStr = dataStr.replace(/\s+/g,"");//删除所有空格;
      console.log(dataStr);
      data = JSON.parse(dataStr)[category];
      console.log(data)
      for (var i = 0; i < data.length; i++) {
        console.log(data[i].excerpt)
        var son = `<div class="post-area">
                    <a href="{{ site.baseurl }}${data[i].url}">
                      <h2>${data[i].title}</h2>
                      <p>${data[i].excerpt}</p>
                    </a>
                    <p class="post-info">posted by ${data[i].author} on ${data[i].date}</p>
                  </div>`
        $(".cate-repl").append(son)
      }
    })
  </script>
</section>
