---
layout: page
---

<div class="post">
  <!-- Slider Start -->
  <section id="global-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <p>生きる限り日々努力してその度に学んで七転び八起き</p>
            <p>もしも僕が明日死んでも何かココに残せるよな</p>
            <p>そんな人間になりたいありたいって思いながら日々生きてる</p>
            <p>100点じゃないこの僕に100点つけるのは</p>
            <p>他でもない僕自身だ!! それ以外どうだっていいんだ!!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Wrapper Start -->
  <section id="intro" style="border: 1px dotted #ddd;">
    <div class="container">
      <div class="row">
        <div>
          <img class="blog-akane" src="{{ site.baseurl }}/img/rannma.jpg" alt="img">
          <div class="block col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h1>{{ page.title }}</h1>
            <div class="post-info-wrapper">
              <p class="italic">By <span>{{ page.author }}</span> on <span>{{ page.date | date: "%B %-d, %Y" }}</span></p>
            </div>
            <hr />
            <p>{{ content }}</p>
            <ul class="pager">       
              <li class="previous">
                  <a href="/2016/09/05/NingJS-JSConf-China-2016/" data-toggle="tooltip" data-placement="top" title="" data-original-title="NingJS · JSConf China · 2016">← Previous Post</a>
              </li>
              <li class="next">
                  <a href="/2016/06/28/Xie_Gei_Zi_Ji/" data-toggle="tooltip" data-placement="top" title="" data-original-title="写给自己">Next Post →</a>
              </li>
            </ul>
          </div>
        </div><!-- .col-md-7 close -->
      </div>
    </div>
  </section>
</div>
<!-- <p class="center-text" style="padding: 30px;">
  <a class="link-btn" href="{{ site.baseurl }}/blog">Back to blog</a>
</p> -->

